@model ProductoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../Scripts/Views/vProductos.js"></script>
<link href="~/Content/vProductos.css" rel="stylesheet" />


    <a asp-controller="Producto" asp-action="CrearProducto">Crear producto</a>



    <h1 class="display-3 col-12" style="text-align-last: center;">Productos</h1>

    @*<div class="contenedor-buscador col-12" style="    text-align: center;">
        <div class="busca-informacion col-12">
            <form class="form-buscador col-12">
                <input type="text" id="buscaInfoPrincipal" class="busca-principal col-8" placeholder="Buscar por...">
                <span class="buscador"><i class="fas fa-search"></i></span>
            </form>
        </div>
    </div>*@

    <hr class="my-4">

    <div id="contenedorproductos" class="mb-3 card-group row justify-content-center" style="width: 100%">


        @foreach (var producto in Model.Productos)
            {

                <div class="card" classList="col-4" style="margin-top: 10px; cursor:pointer; " id="div_card">


                @*<div id="img_container">
                    <script>
                        img_container.classList.add('img-container');

                        var imagen = document.createElement('img');
                        imagen.classList.add('img-fluid');
                        imagen.style.height = "200px";
                        imagen.style.width = "100%";
                        //imagen.id = 'i' + data[i].CedulaProducto; // ARREGLAR AQUI. OCUPO LA LISTA DE IMAGENES
                        imagen.src = '';
                    </script>

                </div>*@

                <div class="div_h4">

                    <h4>
                        @producto.Nombre
                    </h4>

                </div>

                <div id="div_h5" style="margin: auto">
                    <h5>
                        @producto.Id
                    </h5>
                </div>
                <div id="div_desc">
                    <p>
                        @producto.Descripcion
                    </p>
                </div>
                <div id="div_h5" style="margin: auto">
                    <h5>
                        @producto.Precio
                    </h5>
                </div>

                <div id="boton_carrito">

                    <i class="fas fa-shopping-cart" id="btnCarrito"><a href="#" style="align-self:center;"></a></i>
                    <p class="card-text;" style="margin-top: 5px;">
                        Agregar al carrito
                    </p>
                    <!--<script>

                    let botonCarrito = document.getElementById("#btnCarrito");-->
                    @*botonCarrito.dataset.IdProducto = @producto.Id;
                    localStorage.setItem('IdProducto',@producto.Id);*@
<!--s
     

                    </script>-->


                </div>


            </div>
        }

    </div>


    <div class="modal" id="cambioProductoModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header badge-dark">
                    <h5 class="modal-title">Cambio de producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="" class="pb-2">Al cambiar de restaurante se vaciará el carrito.</h3>
                    <span>Desea continuar?</span>

                </div>
                <div class="modal-footer">
                    <button id="vaciarContinuar" type="button" class="btn btn-primary">Vaciar y continuar</button>
                    <button id="cerrarCambio" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

   @*<script>
       document.getElementById('#buscaInfoPrincipal').on('keyup', function () {
            miFiltrar();
        });


        function miFiltrar() {
            var input, filter, cards, title, i;

            input = document.getElementById("buscaInfoPrincipal");

            filter = input.value.toUpperCase();

            cards = document.getElementsByClassName("div_h4");

            for (i = 0; i < cards.length; i++) {
                title = cards[i].textContent;
                if (title.toUpperCase().indexOf(filter) > -1) {
                    cards[i].parentNode.style.display = "";
                } else {
                    cards[i].parentNode.style.display = "none";
                }
            }
        }

    </script>*@
